/* Make it sexy*/
body{
    background: url(../images/Background.png)
}
#container{
    text-align: center
}
#top{
    border: #b0ba4e outset;
    font-family: 'Rochester', cursive;
    background: url(../images/foreground.jpg);
    width: 30%;
    margin: 10px auto 0px auto;
}
.buttons{
    font-family: 'Montserrat', sans-serif;
}
#gifContainer {
    width: 90%;
    margin: auto;
    overflow: auto;
    font-family: 'Rochester', cursive;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    background: #4b776b;
    padding: 5px;
    border: 2px outset #4b776b;
}
.instructions{
    font-family: 'Rochester', cursive;
    background: #b0ba4e;
    padding: 10px;
    border: 2px outset #4b776b;
    margin: 25px auto 0px auto;
    width: fit-content;
}
#gifdiv {
    float: left;
    margin: auto
}
#gifim {
    height: 250px !important;
    width: 250px !important;
    padding: 0px 10px 0px 10px;
}
.hidden{
    display: none !important
}
.info{
    font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 1000px) {
    #top {
        width: 90%;
    }
    #gifContainer{
        width: 90%
    }
} 