/* Make it sexy*/
body{
    background: url(../images/Background.png)
}
#container{
    text-align: center
}
#top{
    border: #b0ba4e outset;
    font-family: 'Rochester', cursive;
    background: url(../images/foreground.jpg);
    width: 30%;
    margin: 10px auto 0px auto;
}
#gifContainer {
    width: 940px;
    margin: auto;
    overflow: auto;
    font-family: 'Rochester', cursive;
    margin-bottom: 25px
}
#gifdiv {
    float: left;
    margin: auto
}
#gifim {
    height: 300px;
    width: 300px;
    padding: 0px 10px 0px 10px;
}